---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/inforlife/existing-repo/milestones?direction=desc&sort=created&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1524663338'
      Etag:
      - W/"3fdc0ac0deb265f6ff856cbf543c05e4"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/inforlife/existing-repo/milestones/1","html_url":"https://github.com/inforlife/existing-repo/milestone/1","labels_url":"https://api.github.com/repos/inforlife/existing-repo/milestones/1/labels","id":2416007,"number":1,"title":"2017.1","description":"","creator":{"login":"inforlife","id":272616,"avatar_url":"https://avatars1.githubusercontent.com/u/272616?v=4","gravatar_id":"","url":"https://api.github.com/users/inforlife","html_url":"https://github.com/inforlife","followers_url":"https://api.github.com/users/inforlife/followers","following_url":"https://api.github.com/users/inforlife/following{/other_user}","gists_url":"https://api.github.com/users/inforlife/gists{/gist_id}","starred_url":"https://api.github.com/users/inforlife/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/inforlife/subscriptions","organizations_url":"https://api.github.com/users/inforlife/orgs","repos_url":"https://api.github.com/users/inforlife/repos","events_url":"https://api.github.com/users/inforlife/events{/privacy}","received_events_url":"https://api.github.com/users/inforlife/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":1,"state":"closed","created_at":"2017-03-28T09:08:56Z","updated_at":"2017-12-14T08:26:56Z","due_on":null,"closed_at":"2017-12-14T08:26:35Z"},{"url":"https://api.github.com/repos/inforlife/existing-repo/milestones/2","html_url":"https://github.com/inforlife/existing-repo/milestone/2","labels_url":"https://api.github.com/repos/inforlife/existing-repo/milestones/2/labels","id":2979118,"number":2,"title":"2017.2","description":"","creator":{"login":"sigfrid","id":3609259,"avatar_url":"https://avatars1.githubusercontent.com/u/3609259?v=4","gravatar_id":"","url":"https://api.github.com/users/sigfrid","html_url":"htt[...]
- request:
    method: get
    uri: https://api.github.com/repos/inforlife/existing-repo/issues?milestone=3&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1524663338'
      Etag:
      - W/"663d23c89be9f3a800bd28c513b2cef0"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/inforlife/existing-repo/issues/3","repository_url":"https://api.github.com/repos/inforlife/existing-repo","labels_url":"https://api.github.com/repos/inforlife/existing-repo/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/inforlife/existing-repo/issues/3/comments","events_url":"https://api.github.com/repos/inforlife/existing-repo/issues/3/events","html_url":"https://github.com/inforlife/existing-repo/issues/3","id":317627565,"number":3,"title":"issue
        #3","user":{"login":"sigfrid","id":3609259,"avatar_url":"https://avatars1.githubusercontent.com/u/3609259?v=4","gravatar_id":"","url":"https://api.github.com/users/sigfrid","html_url":"https://github.com/sigfrid","followers_url":"https://api.github.com/users/sigfrid/followers","following_url":"https://api.github.com/users/sigfrid/following{/other_user}","gists_url":"https://api.github.com/users/sigfrid/gists{/gist_id}","starred_url":"https://api.github.com/users/sigfrid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sigfrid/subscriptions","organizations_url":"https://api.github.com/users/sigfrid/orgs","repos_url":"https://api.github.com/users/sigfrid/repos","events_url":"https://api.github.com/users/sigfrid/events{/privacy}","received_events_url":"https://api.github.com/users/sigfrid/received_events","type":"User","site_admin":false},"labels":[{"id":570960381,"url":"https://api.github.com/repos/inforlife/existing-repo/labels/bug","name":"bug","color":"ee0701","default":true}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/inforlife/existing-repo/milestones/3","html_url":"https://github.com/inforlife/existing-repo/milestone/3","labels_url":"https://api.github.com/repos/inforlife/existing-repo/milestones/3/labels","id":3296398,"number":3,"title":"2018.1","description":"","creator":{"login":"sigfrid","id":3609259,"avatar_url":"https://avatars1.githubusercontent.com/u/3609259?v=4","gravatar_id":"","url":"https://api.github.com/users/sigfrid","html_url":"https://github.com/sigfrid","followers_url":"https://api.github.com/users/sigfrid/followers","following_url":"https://api.github.com/users/sigfrid/following{/other_user}","gists_url":"https://api.github.com/users/sigfrid/gists{/gist_id}","starred_url":"https://api.github.com/users/sigfrid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sigfrid/subscriptions","organizations_url":"https://api.github.com/users/sigfrid/orgs","repos_url":"https://api.github.com/users/sigfrid/repos","events_url":"https://api.github.com/users/sigfrid/events{/privacy}","received_events_url":"https://api.github.com/users/sigfrid/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":1,"state":"open","created_at":"2018-04-25T13:27:23Z","updated_at":"2018-04-25T13:29:35Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2018-04-25T13:26:41Z","updated_at":"2018-04-25T13:29:35Z","closed_at":"2018-04-25T13:29:35Z","author_association":"COLLABORATOR","body":""}]'
  recorded_at: Wed, 25 Apr 2018 13:31:53 GMT
recorded_with: VCR 3.0.3
